* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.App {
  display: flex;
  gap: 20px;
}

.body__row-selected {
  background-color: #efefef;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 390px;
  margin: 0px auto;
  padding: 40px 60px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-exit {
  cursor: pointer;
  float: right;
  width: 22px;
  height: 22px;
  border: 1px solid black;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  transition: 0.4s;
  background-color: white;
  color: black;
}

.modal-input {
  margin: 10px 0;
  height: 50px;
  width: 100%;
  border: 2px solid black;
  color: var(--board-text);
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
}

.modal-form {
  font-size: 14px;
  margin-top: 25px;
  color: black;
}

.modal-button {
  cursor: pointer;
  display: block;
  margin: 30px auto 0;
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  transition: 0.4s;
  background-color: white;
  color: black;
}

.modal .modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.header__cell {
  margin: auto;
}
table {
  border-radius: 10px;
}

th {
  border-radius: 5px;
}

.cell {
  border-radius: 5px;
  text-align: center;
  max-width: 90px;
  width: auto;
  position: relative;
  padding: 5px;
  &__value {
    max-width: 86px;
    overflow-wrap: break-word;
  }
  .cell__button {
    display: none;
  }
}

.input-lable {
  display:inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../public/1159633.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.cell__button:checked {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  + .input-lable {
    display: none;
  }
}

.button {
  height: 30px;
}

.company-table__add-button {
  margin-top: 10px;
  margin-left: 30px;
}

.company-table__delete-button{
  margin-top: 10px;
  float: right;
  margin-right: 30px;
}
.employee-table__add-button , .employee-table__delete-button  {
  margin-top: 10px;
}